sf.uri = https://login.salesforce.com
sf.clientid = CLIENT_ID_FROM_EXTERNAL_CLIENT_APP
sf.clientsecret = CLIENT_SECRET_FROM_EXTERNAL_CLIENT_APP
sf.tenantid = SALESFORCE_ORG_ID
sf.channels.account-cdc = /data/AccountChangeEvent
sf.channels.contact-cdc = /data/ContactChangeEvent
sf.channels.event-num-req = 5

spring.datasource.url = jdbc:mysql://localhost:3306/sf_db
spring.datasource.username = root
spring.datasource.password = root
spring.jpa.hibernate.ddl-auto = update

#slaesforce grpc pub sub channel connections
spring.grpc.client.channel.salesforce.target=api.pubsub.salesforce.com:7443
spring.grpc.client.channel.salesforce.ssl.enabled=true

logging.level.root=INFO

spring.batch.job.enabled=false